*{
    margin: 0;
    padding: 0;    
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    color: #828282;
    font-size: 15px;   
    
}

section {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}


main {    
    
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 50px;
    max-width: 626px;
    box-sizing: border-box;
    
}

main img{
    padding-bottom: 32px;
    width: 350px;
    height: 238px;
}

main h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: #3F3D56;
    font-weight: normal;    
}
main h1 span {
    font-weight: bold;
    color: #EE24FF;
}

main strong {
    color: #3F3D56;
}
main p {
    line-height: 22px;
    text-align: center;
}

main p:last-child{
    margin-top: 32px;
}

footer{
    height: 176px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


footer nav ul{    
    list-style: none;
    display: flex;
    gap: 42px;
    align-items: center;
    justify-content: center;
    color: #3F3D56;
    font-weight: bold;
    cursor: pointer;

}

nav hr {
    margin: 0 auto;
    width: 391px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #ECEFF2;
}

